/* font-family: 'Poppins', sans-serif; */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#main {
  text-align: center;
  background-color: white;
  width: 100%;
}

#heading-box {
  padding: 4em 0 2em 0;
  width: 35%;
  margin: auto;
}

#heading-one {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 150%;
}

#heading-two {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 150%;
}

#heading-p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

#card-area {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px 10px;
  padding: 0% 10% 0% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card-text {
  text-align: left;
}

.card-img {
  text-align: right;
  padding: 0.25em;
  position: absolute;
}

#card-one {
  grid-row: 1;
  grid-column: 1;
  border-top: hsl(180, 62%, 55%) solid 5px;
  box-shadow: 0px 2px 2px 2px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-right: 2em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

#card-two {
  grid-row: 1;
  grid-column: 2;
  border-top: hsl(0, 78%, 62%) solid 5px;
  box-shadow: 0px 2px 2px 2px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

#card-three {
  grid-row: 1;
  grid-column: 2;
  border-top: hsl(34, 97%, 64%) solid 5px;
  box-shadow: 0px 2px 2px 2px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-top: 3em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

#card-four {
  grid-row: 1;
  grid-column: 3;
  border-top: hsl(212, 86%, 64%) solid 5px;
  box-shadow: 0px 2px 2px 2px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-left: 2em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

.inner-cards {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
