/* font-family: 'Poppins', sans-serif; */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-family: "Poppins", sans-serif;
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  margin: 0;
}

h6 {
  margin: 0;
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#main {
  text-align: center;
  background-color: white;
  width: 100%;
}

#heading-box {
  padding: 4em 0 5em 0;
  width: 35%;
  margin: auto;
}

#heading-one {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 150%;
  color: hsl(229, 6%, 66%);
}

#heading-two {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 150%;
  color: black;
}

#heading-p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

.card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px 10px;
  padding: 0% 10% 0% 10%;
  margin-bottom: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card-text {
  text-align: left;
}

.card-img {
  margin-left: 75%;
  margin-top: 10%;
}

#card-one {
  grid-row: 1;
  grid-column: 1;
  border-top: hsl(180, 62%, 55%) solid 5px;
  box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-right: 1.5em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

#card-two {
  grid-row: 1;
  grid-column: 2;
  border-top: hsl(0, 78%, 62%) solid 5px;
  box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

#card-three {
  grid-row: 1;
  grid-column: 2;
  border-top: hsl(34, 97%, 64%) solid 5px;
  box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-top: 1.5em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

#card-four {
  grid-row: 1;
  grid-column: 3;
  border-top: hsl(212, 86%, 64%) solid 5px;
  box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
  font-family: "Poppins", sans-serif;
  padding: 2em;
  margin-left: 1.5em;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.inner-cards {
  display: flex;
  flex-direction: column;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1470px) {
  /* body {
    background-color: blue;
  } */

  .card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  #card-one {
    border-top: hsl(180, 62%, 55%) solid 5px;
    box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
    font-family: "Poppins", sans-serif;
    padding: 2em;
    margin-right: 1.5em;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  #card-two {
    border-top: hsl(0, 78%, 62%) solid 5px;
    box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
    font-family: "Poppins", sans-serif;
    padding: 2em;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  #card-three {
    border-top: hsl(34, 97%, 64%) solid 5px;
    box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
    font-family: "Poppins", sans-serif;
    padding: 2em;
    margin-top: 1.5em;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  #card-four {
    border-top: hsl(212, 86%, 64%) solid 5px;
    box-shadow: 0px 5px 11px -1px hsl(229, 6%, 66%);
    font-family: "Poppins", sans-serif;
    padding: 2em;
    margin-left: 1.5em;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
}
